<nb-layout>
  <nb-layout-header fixed>
    <div class="let-food-logo">
      <img src="./../../../assets/images/logo.png" alt="" class="logo" />
      <h1>Let's Food</h1>
    </div>
    <button nbButton ghost size="large" (click)="toggle()">
      <nb-icon icon="menu-outline" status="basic"></nb-icon>
    </button>
    <span class="spacer"></span>
    <nb-user
      size="large"
      name="Andre Gustavo"
      title="Usuário"
      showTitle="false"
      [nbContextMenu]="userMenuItems"
      nbContextMenuTag="userMenuSettings"
    >
    </nb-user>
  </nb-layout-header>

  <nb-sidebar tag="left">
    <ul class="menu-container">
      <li><a href="#">Promoções</a></li>
      <li><a href="#">Açaí</a></li>
      <li><a href="#">Sorvetes</a></li>
      <li><a href="#">Brasileira</a></li>
      <li><a href="#">Vegana</a></li>
      <li><a href="#">Saudável</a></li>
      <li><a href="#">Carnes</a></li>
      <li><a href="#">Caldos</a></li>
      <li><a href="#">Bebibas</a></li>
      <li><a href="#">Lanches</a></li>
      <li><a href="#">Pizzas</a></li>
      <li><a href="#">Japonesa</a></li>
      <li><a href="#">Italiana</a></li>
      <li><a href="#">Churrasco</a></li>
    </ul>
  </nb-sidebar>

  <nb-layout-column class="colored-column-warning"> </nb-layout-column>
  <nb-layout-footer>
    <small>Andre Gustavo</small>
  </nb-layout-footer>
</nb-layout>
