@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme(
  (
    color-primary-100: #fff7f7,
    // <- new primary color
      color-primary-200: #fff5e3,
    color-primary-300: #ffe9bf,
    color-primary-400: #fd9651,
    color-primary-500: #ffc06e,
    color-primary-600: #fec20a,
    color-primary-700: #b83737,
    color-primary-800: #942424,
    color-primary-900: #7a1515,
    text-basic-color: color-basic-800,
    text-disabled-color: color-basic-600,
  ),
  default,
  default
);
